@use "../../scss/" as *;

button {
  cursor: pointer;
  font-family: $font-family;
}

.btn {
  font-size: 14px;
  border-radius: 999px;
  line-height: normal;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  .icon-btn {
    line-height: 66%;
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    border-radius: 50%;
  }
  &:hover{
    -webkit-filter: brightness(.9);
    filter: brightness(.9);
  }
}
