@use "../../../scss/" as *;


.slide-radio{
  &:hover{
    .swiper-button-next,.swiper-button-prev{
      opacity: 1 !important;
    }
  }
}
.slide-radio__content_banner{
    flex: 1;
    @include flex(center, center);
    position: relative;
    padding: 0 10px;
  

    img {
        width: 100%;
      border-radius: $border-radius-slide-radio;
      box-shadow: $box-shadow;

    //   transform: scale(0);
    //   transition: transform 0.7s ease;
    }
   
}