@use "../../scss/" as *;

.sidebar {
  position: relative;
  z-index: 100;
  width: 240px;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 54px;
  @include tablet {
    width: 70px;
    padding-bottom: 55px;
    transition: width .3s ease-out;

  }
  @include mobile{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 300;
    height: 45px;
    background-color: #37075d !important;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: 0;

  }
  &__wrapper {
    @include flex(center, center);

    &__menu {
      width: 100%;
      position: relative;
      margin-bottom: 15px;

      ul {
        margin: 0;
        padding: 0;

        li {
          font-weight: 600;
          color: $txt-color;
          border-left: 3px solid transparent;

          a {
            @include flex(center, unset);
            padding: 7px 25px;
            font-size: 14px;
            i {
              line-height: 66%;
              display: inline-block;
              margin-right: 10px;
            }

            span {
              @include mobile {
                display: inline-block !important;
                font-weight: 400;
                font-size: 10px;
              }
              @include tablet {
                display: none;
              }
            }
          }
        }
      }

      .radio-live{

        @include tablet {
          display: none;
        }
      }
      @include mobile{
        height: 45px;
        ul{
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          li{
            width: 100%;
            a{
              height: 100%;
              width: 100%;
              padding: 0;
              flex-direction: column;
              justify-content: center;
         
              align-items: center;
              white-space: nowrap;
              text-decoration: none;
              i{
                font-size: 2rem !important;
                margin-right: 0;
              }
              
            }
          }
        }

      }
    }
    &__divide {
      position: relative;
      height: 1px;
      margin-bottom: 15px;
      &::after{
        content: "";
        border-top: 1px solid hsla(0,0%,100%,0.1);
        position: absolute;
        left: 25px;
        right: 25px;
        top: 0;
      }
    }
  }
  .logo{
    width: 120px;
    height: 40px;
    display: inline-block;
    background: url('../../assets/images/logo.svg') 50%/contain no-repeat;
    @include tablet {
      width: 45px;
      height: 45px;
      background: url('../../assets/images/logosmall.svg') 50%/contain no-repeat;;
    }
    @include mobile {
      display: none;
    }
  }
  .navbar{
    width: 240px;
    &__brand{
      width: 240px;
      height: 70px;
      position: fixed;
      top: 0;
      padding: 0 25px 0 28px;
      display: flex;
      align-items: center;
      @include tablet {
        justify-content: center;
        width: 70px;
        padding: 0;
      }
      &__item{

      }
    }
  }
}
.sidebar-scroll{
  height: 100%;
  overflow: hidden auto;
  @include mobile{
    display: none;
  }
}